@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    outline:none;
    border: none;
    scroll-behavior: smooth;
    list-style: none;
     
}

:root
{
    --bg-color:#fdfdfd;
    --text-color:#333;
    --main-color:#754ef9;
    --white-color:#fdfdfd;
    --shadow-color: rgba(0,0,0,.2);    
}

.dark-mode
{
    --bg-color:#0b061f;
    --text-color:#fdfdfd;
    --shadow-color: rgba(0,0,0,.7);
} 
