html
{
    font-size: 62.5%;
    overflow-x: hidden;
}

body
{
    background: var(--bg-color);
    color: var(--text-color);


}

section
{
    min-height: 100vh;
    padding: 5rem 7% 2rem;
}

.btn
{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    border: .2rem solid transparent;
    transition: .5s ease;
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    a
    {
        color: var(--white-color);
        font-weight: 600;
        font-size: 1.6rem;
        letter-spacing: .1rem;

    }

    &:hover
    {
        background: transparent;
        border-color: var(--main-color);
        color: var(--main-color);
        a
        {
            color: var(--main-color);
        }
    }

} 

.heading
{
    font-size: 4.5rem;
    text-align: center;
}


span{
    color: var(--main-color);
}



/*BREAKPOINTS*/

@media (max-width:1200px) 
{
    html
    {
        font-size: 55%;
    }
}
/*1024px*/
@media (max-width:1024px) 
{
    section{
        padding: 10rem 3% 2rem;
    }
   
}

/*768px*/
@media (max-width:768px) 
{
    section{
        padding: 2rem 3% 2rem;
    }
   
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }

    section{
        padding: 1rem 3%;
    }
}