
.testimonial-container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;

    .testimonial-wrapper
    {
        position: relative;
        max-width: 90rem;
        width: 100%;
        padding: 5rem;

        .testimonial-box
        {
            padding: 1rem;
            border-radius: 2rem;
            overflow: hidden;

            .swiper-button-next,
            .swiper-button-prev
            {
                color: var(--main-color);
                display: block;
                right: 0;
            }

            .swiper-button-prev
            {
                left: 0;
            }
            .swiper-pagination-bultle{
                background: rgba(0,0,0,.8);
                display: block;

                &-active{
                    background: var(--main-color);
                }
            }

        }
    
    
        .testimonial-content .testimonial-slide
        {
            display: flex;
            align-items: center;
            flex-direction: column;
            background: var(--bg-color);
            border-radius: 2rem;
            box-shadow: 0 .1rem .5rem var(--shadow-color);
            padding: 3rem 5rem;
            border-top: .8rem solid var(--main-color);
            border-bottom: .8rem solid var(--main-color);
            min-width: 90%;
    
    
            img
            {
                width: 14rem;
                height: 14rem;
                object-fit: cover;
                border-radius: 50%;
                border: .5rem solid var(--bg-color);
                outline: .5rem solid var(--main-color);
            }
            h3
            {
                font-size: 2.5rem;
                margin: 2rem 0;
            }
            p
            {
                font-size: 1.4rem;
                text-align: center;
            }
        }
    }
}

/*Breakpoints*/
/*768px*/
@media (max-width:768px) 
{
    .testimonial-container .testimonial-wrapper{
        padding: 5rem 0;

        .testimonial-content .testimonial-slide{
            padding: 3rem 2rem;
        }

        .testimonial-box .swiper-button-next,
        .testimonial-box .swiper-button-prev{
            display: none;
        }
    }
}
